.row {
  display: flex;
  gap: 20px;
}

.container {
  border: 1px black solid;
  padding: 5px;
}

/* Clear space in template to try and mimick MLS styles */
#templateContainer p {
  padding: 0;
  margin: 0;
}

#copyToClipboardButton {
  margin-top: 20px;
}